/*204#1*/
.parent2041{
    display: flex;
width: 800px;
height: 300px;
border: 1px solid red;
flex-direction: row;
}
.child2041{
    width: 100px;
    height: 50px;
    border: 1px green solid;

}
/*205#1*/
.parent2051{
    display: flex;
width: 800px;
height: 300px;
border: 1px solid red;
flex-direction: row-reverse;
}
.child2051{
    width: 100px;
    height: 50px;
    border: 1px green solid;

}
/*206#1*/
.parent2061{
    display: flex;
width: 800px;
height: 300px;
border: 1px solid red;
flex-direction: column;
}
.child2061{
    width: 100px;
    height: 50px;
    border: 1px green solid;

}
/*207#1*/
.parent2071{
    display: flex;
width: 800px;
height: 300px;
border: 1px solid red;
flex-direction: column-reverse;
}
.child2071{
    width: 100px;
    height: 50px;
    border: 1px green solid;

}

/*209#1*/
.parent2091{
display: flex;
width: 800px;
height: 300px;
border: 1px solid red;
flex-direction: row;
justify-content: flex-end;
}
.child2091{
    width: 100px;
    height: 50px;
    border: 1px green solid;

}

/*209#2*/
.parent2092{
    display: flex;
    width: 800px;
    height: 300px;
    border: 1px solid red;
    flex-direction: column;
    justify-content: flex-end;
    }
    .child2092{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }

/*209#3*/
.parent2093{
    display: flex;
    width: 800px;
    height: 300px;
    border: 1px solid red;
    flex-direction: row-reverse;
    justify-content: flex-start;
    }
    .child2093{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }

/*209#4*/
.parent2094{
    display: flex;
    width: 800px;
    height: 300px;
    border: 1px solid red;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }
    .child2094{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }

/*209#5*/
.parent2095{
    display: flex;
    width: 800px;
    height: 300px;
    border: 1px solid red;
    flex-direction: column-reverse;
    justify-content: flex-start;
    }
    .child2095{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }


    /*210#1*/
.parent2101{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end ;
    align-items: flex-end;
}
    .child2101{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }
    
    /*210#2*/
    .parent2102{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start ;
    align-items: flex-end;
        }
        .child2102{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*210#3*/
    .parent2103{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
        }
        .child2103{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*210#4*/
    .parent2104{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
        }
        .child2104{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*210#5*/
    .parent2105{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
        }
        .child2105{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
        /*210#6*/
    .parent2106{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
        }
        .child2106{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*210#7*/
    .parent2107{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: flex-end; 
   }
        
        .child2107{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }


        /*211#1*/
.parent2111{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .child2111{
        width: 100px;
        height: 50px;
        border: 1px green solid;
    
    }
    
    /*211#2*/
    .parent2112{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center ;
    align-items: center;
        }
        .child2112{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*211#3*/
    .parent2113{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    align-items: center;
        }
        .child2113{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*211#4*/
    .parent2114{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        }
        .child2114{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
    /*210#5*/
    .parent2115{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items:center;
        }
        .child2115{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
        /*211#6*/
    .parent2116{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items:  center;
        }
        .child2116{
            width: 100px;
            height: 50px;
            border: 1px green solid;
        
        }
    
        /*214#1*/
.parent2141{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: stretch;
}
    .child2141{
        width: 120px;
    border: 1px solid green;
    }
    
    /*214#2*/
    .parent2142{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: stretch;
        }
        .child2142{
            height: 40px;
    border: 1px solid green;
        
        }
    
    /*214#3*/
    .parent2143{
        width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: stretch ;
        }
        .child2143{
            height: 40px;
            border: 1px solid green;
        }