/*101#1*/
#elem1 {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid green;
}
/*103#1*/
#elem2{
    border: solid green 1px;
    height: 200px;
    width: 200px;
    border-radius:10px 30px 40px 60px ;
}
/*104#1*/
#elem3{
border: solid green 1px;
height: 200px;
width: 200px;
border-radius: 10px 30px;
}
/*105#1*/
#elem4{
    border: solid green 1px;
    height: 200px;
    width: 200px;
    border-radius: 10px 30px 20px;
}
/*107#1*/
#elem5{
    border: solid green 1px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}