/*"25#1"*/
p {
	color: red;
}
/*"26#1"*/
h2 {
	color: green;
}
h3 {
    color: blue
}
h4 {
	color: red
}
/*"27#1"*/
p1 {
	color: #3AAACF;
}
p2 {
	color:rgb(1, 64, 57);
}
/*"28#1"*/
p {
	width: 300px;
}
/*"28#2"*/
td{
    width: 400px;
    height: 300px;
}