/*69#1*/
h2.www1 {
	color: red;
}
/*69#2*/
h2 .zzz1 {
	color: red;
}
/*69#3*/
.bbb2.zzz2 {
	color: red;
}
/*69#4*/
.bbb3 .zzz3 {
	color: red;
}
/*69#5*/
.bbb4.zzz4.xxx4 {
	color: red;
}
/*69#6*/
.bbb5 .zzz5.xxx5{
	color: red;
}
/*69#7*/
.bbb6.zzz6 .xxx6 {
	color: red;
}
/*69#8*/
.bbb7 .zzz7 .xxx7 {
	color: red;
}
/*69#9*/
#elem.bbb8 {
	color: red;
}
/*69#10*/
#elem1 .bbb9 {
	color: red;
}
/*70#1*/
#block h1 , #block h2  {
	text-align: center;
}
/*70#2*/
#block1 h1 , #block1 h2 {
	text-align: center;
}
#block1 h1 {
	
	font-size: 30px;
}
#block1s h2 {
	
	font-size: 20px;
}
